.article-content {
    max-width: 1000px;
    background: rgba(240, 245, 235, 1);
    outline: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.article-content-textContainer {
    padding: 0 1em;
}

.article-title {
    margin-bottom: 0;
}

.article-date {
    margin: 0 0 1.75em 0;
    font-style: italic;
    opacity: .5;
}

.article-subtitle {
    font-size: 1.6rem;
}

.article-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-vid {
    aspect-ratio: 16/9;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.article-mediaCaption {
    opacity: .65;
    padding: 0.5em 1em;
    font-style: italic;
    margin: 0;
}

.article-content-textContainer > h2 {
    font-size: 2rem;
}

.article-content-textContainer > p {
    font-family: 'Open Sans', sans-serif;
}

.article-content > :first-child {
    margin-bottom: 1em;
}

.article-content > :last-child {
    margin-top: 2em;
    margin-bottom: -.5em;
}