.articles-pageContainer {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-articles {
    background: var(--blue);
    text-align: center;
    padding: 2em;
}

.footer-articles>p {
    margin: 0;
    opacity: .5;
}

.main-articles {
    margin: 1em auto;
    padding: 0 1em;
}

.articles-home {
    display: grid;
    margin: 0;
    grid-gap: 2em;
    max-width: 1500px;
    grid-template-areas:
        'aFeat aFeat aTags'
        'aMain aMain aMain';
}

.articles-featured { grid-area: aFeat; }
.articles-tags { grid-area: aTags; }

.articles-sideBar-panel {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.articles-featuredContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em;
}

.articles-featuredLightPanel {
    border-right: solid 15px var(--blue);
}

.articles-homeTitle {
    font-size: 1.5rem;
}

.articles-tagsContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

.articles-tagBtn {
    font-size: 1.25rem;
}

.articles-recent {
    grid-area: aMain;
}

.articles-recentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
    padding-top: 1em;
}

@media(max-width: 1000px) {
    .articles-home {
        grid-template-areas: 
            'aFeat'
            'aMain'
            'aTags'
            '.....';
    }
}

@media(max-width: 700px) {
    .articles-featuredContainer {
        grid-template-columns: 1fr;
    }
}