.articles-pageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-articles {
    background: var(--blue);
}

.footer-articles {
    text-align: center;
    padding: .5em;
}

.footer-articles>p {
    margin: 0;
    opacity: .5;
}

.main-articles {
    margin: 1em auto;
    padding: 0 1em;
    align-self: center;
}

.articles-home {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: auto 350px;
    max-width: 1000px;
}