.mediaContainer {
    background: var(--green);
    outline: 1px solid gray;
    border-radius: 10px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.mediaContainer * {
    width: 100%;
}

.float-media-left {
    float: left;
    margin: 1em 1em 1em 0;
}

.float-media-right {
    float: right;
    margin: 1em 0 1em 1em;
}

@media(max-width: 850px) {
    .float-media-right,
    .float-media-left {
        float: unset;
    }

    .mediaContainer {
        width: 90%;
        margin: 0 auto;
    }
}