.header-articles {
    background: var(--blue);
    padding: 1em;
    grid-area: aHead;
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
}

.header-title {
    width: 50%;
    align-items: flex-end;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.header-title * {
    margin: 0;
}

.header-title>h1 {
    font-size: 3rem;
}

.header-title>p {
    font-size: 1.5em;
}

@media(max-width: 725px) {
    .header-title {
        width: 100%;
    }
}

