.contactForm {    
    font-size: 1.15rem;
}

.contactForm>label {
    /* color: white; */
}

.contactForm-input {
    width: 100%;
    font-size: 1.35rem;
    border-radius: 10px;
    margin: .25em 0;
    padding: .25em;
}

#contactForm-msg {
    resize: none;
    height: 10em;
    margin-bottom: 0;
    border-style: ridge;
}

.contactForm-btn {
    grid-area: sbtn;
    width: fit-content;
    padding: .5em 1em;
    border-radius: 10px;
    border: 1px black solid;
    font-size: inherit;
    align-self: center;
}

.contactForm-btn:hover,
.contactForm-btn:focus {
    background: var(--pink);
    color: white;
}

.contactForm-success {
    text-align: center;
}