.moreInfo-content {
    width: 100%;
    height: 100%;
}

.moreInfo-grid {
    display: grid;
    grid-template-columns: 1fr .75fr;
    grid-gap: 3em;
}

.moreInfo-title {
    font-size: 1.5rem;
}

@media(max-width: 875px) {
    .moreInfo-grid {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 345px) {
    .moreInfo-content {
        width: 105vw;
    }

    .moreInfo-grid {
        grid-gap: 0.5em;
    }
}