.greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.greeting-container > nav {
    margin-right: 2em;
}

.greeting-content {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: appear 3s ease-out .25s forwards;
}

.greeting-img {
    height: 75vh;
}

.greeting-textContainer {
    margin-left: -20%;
}

.greeting-title {
    font-size: 4rem;
    margin: 0;
    letter-spacing: .2em;
    filter: drop-shadow(0px 0px);
    margin-top: 1rem;
}

.greeting-description {
    font-size: 2rem;
    margin: 0;
}

.greeting-skills {
    font-size: 4rem;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 1rem;
}

.greeting-skills * {
    opacity: 0;
}

.greeting-skills>:nth-child(1) {
    animation: appear 3s linear 1s forwards;
}

.greeting-skills>:nth-child(2) {
    animation: appear 3s linear 1.5s forwards;
}

.greeting-skills>:nth-child(3) {
    animation: appear 3s linear 2s forwards;
}

.greeting-skills>:nth-child(4) {
    animation: appear 3s linear 2.5s forwards;
}

@keyframes appear {
    to { opacity: 1; }
}

@media(max-width: 1130px) {
    .greeting-content {
        flex-direction: column;
    }

    .greeting-textContainer {
        margin-left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .greeting-img {
        height: 50vh;
    }
}

