.contact-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.contact-content-lightPanel {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin-bottom: 2rem;
}

.contactForm-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactText-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    overflow: hidden;
}

.contactText-title {
    font-size: 2rem;
    text-align: center;
}

.contactText-tagline {
    font-size: 1.1rem;
    text-align: center;
}

.contactLinks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.contactLink {
    display: grid;
    grid-template-columns: 50% auto;
    grid-gap: 2em;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    padding: 0;
}

.contactLink:hover,
.contactLink:focus {
    color: var(--pink);
}

.contactLink-last {
    margin-bottom: 0;
}

.contactLink>i {
    font-size: 2em;
    text-align: left;
}

.contactLink>p {
    margin: 0 0 0 -20%;
    padding: 0;
    text-align: left;
}

.contact-formContainer {
    padding: 2em;
    background: var(--green);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid gray;
}

.contact-success {
    font-size: 1.25rem;
    text-align: center;
}

.footer-contact {
    text-align: center;
    opacity: .5;
    margin-bottom: 2rem;
}

.footer-contact>p {
    margin: 0;
}

@media(max-width: 1000px) {
    .contact-content-lightPanel {
        grid-template-columns: 1fr;
    }

    .contactLinks-container {
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0;
        justify-content: center;
    }

    .contactLink {
        width: fit-content;
        text-align: left;
        margin: .5em 1em;
        box-shadow: unset;
    }

    .contact-formContainer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top: 1px solid gray;
        border-left: unset;
        border-top-right-radius: unset;
    }

    .footer-contact {
        margin-top: 2em;
    }
}

@media(max-width: 875px) {
    .contact-content {
        width: 100%;
    }

    .contactLink {
        grid-gap: 1em;
    }
}

@media(max-width: 575px) {
    .contactLink {
        width: 100%;
    }
}