.moreInfo-featuredArticles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moreInfo-cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media (max-width:875px) {
    .moreInfo-cardContainer {
        gap: 28px;
    }
}
